body{
    margin: 0;
    }
header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-left: 50px;
    margin-right: 40px; 
}

#div1{
    display: flex;
    flex-direction: row;
    justify-content:stretch;
    align-items: flex-start;
    height: 80px;
    margin-left: 30px;
    margin-right: 40px;
    font-family: sans-serif;
}
#top_bar{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgb(190, 189, 187);
    margin-right: 30px;
    padding-bottom: 2px;
    align-content: center;
    

}
#top_bar:hover{
    color: black;
    border-bottom: 3px solid rgb(133,7,133);
}
#mainimagediv{
    display: flex;
    align-items: center;
    margin: 0px;
    flex-direction: column;
}
.logo{
    width: 100px;
    margin-right: 180px;
    margin-top: 30px;

}
#ur_account{
    background-color: #FFD8DB;
    border-radius: 20px;
    color: #8e16df;
    padding: 12px 24px;
    font-family: 'Poppins', sans-serif;
    border: 2px solid white;
    font-weight: 600;
}
#purpledot{
    color: #670ef5;
    width: 5px;
    height: 1px;

}
h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    margin-top: 0px;
    padding-left: 67px;
}

.paragraph{
    font-family: 'Poppins', sans-serif;
    color: gray;
    padding-left: 67px;
}
#new_account{
    background-color: #670ef5;
    border-radius: 20px;
    color: #f8f7f8;
    padding: 12px 24px;
    font-family: 'Poppins', sans-serif;
    border: 2px solid white;
    font-weight: 600;
    align-items: right;
}
#blankbutton1{
    background-color: #f79fc8;
    border-radius: 20px;
    color: #cfcccf;
    padding: 12px 24px;
    margin: 24px;
    border: 2px solid white;
    align-items: right;
}
#blankbutton2{
    background-color: #fd0707fb;
    border-radius: 20px;
    color: #9c9a9c;
    padding: 12px 24px;
    margin: 24px;
    border: 2px solid white;
    align-items: right;
}
#blankbutton3{
    background-color: #5ba331;
    border-radius: 20px;
    color: #f8f7f8;
    padding: 12px 24px;
    margin: 24px;
    border: 2px solid white;
    align-items: right;
}
#blankbutton4{
    background-color: #f5d20e;
    border-radius: 20px;
    color: #f8f7f8;
    padding: 12px 24px;
    margin: 24px;
    border: 2px solid white;
    align-items: right;
}

.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: #F6F6F6;
    background-color: #F6F6F6;
    border-radius: 10px;
    width: 400px;
    margin-bottom: 10px;
}
 
.card-left{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 22px;
}
 
.card-right{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
 
.active-card{
    background-color: #fff;
    
}
 
.card-name{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-left: 20px;
}
 
.card-date{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #C0C1BD; 
}
 
.dmm-icon{
    height: 10px;
    width: 20px;
    border: 1px solid #FED7DA;
    background-color: #FED7DA;
    border-radius: 5px;
}


.card:hover{
    background-color: #fff;
    box-shadow: 0 0 20px gray;
}
.illu-icon{
    height: 10px;
    width: 20px;
    border: 1px solid #FED7DA;
    background-color: #FED7DA;
    border-radius: 5px;
}
.illu-icon2{
    height: 10px;
    width: 20px;
    border: 1px solid #FD6534;
    background-color: #FD6534;
    border-radius: 5px;
}
.illu-icon3{
    height: 10px;
    width: 20px;
    border: 1px solid #9FD196;
    background-color: #9FD196;
    border-radius: 5px;
}
.illu-icon4{
    height: 10px;
    width: 20px;
    border: 1px solid #FFE4A1;
    background-color: #FFE4A1;
    border-radius: 5px;
}